/* You can add global styles to this file, and also import other style files */

// .manpower {
//     color: #145c05;
// }
// .production {
//     color: #bb8901;
// }
// .science {
//     color: #0474ac;
// }
// .credits {
//     color: #1f1d1d;
// }
.renown {
    color: #c99e12;
}
.container {
    position: relative;
}
.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: text-bottom;
    background-size: cover;
    background-repeat: no-repeat;
    
    @media (min-width: 768px) {
        width: 20px;
        height: 20px;
    }
    &.manpower{
        background-image: url('/assets/icons/Manpower.png');
    }
    &.production{
        background-image: url('/assets/icons/Production.png');
    }
    &.credits{
        background-image: url('/assets/icons/Credit.png');
    }
    &.science{
        background-image: url('/assets/icons/Science.png');
    }
}

.messages {
    z-index: 1;
}

.card {
    width: 70px;
    height: 100px;
    display: flex;
    margin-right: 2px;
    border: 0;
    background-color: #aaa;
    transition: transform 200ms ease-out;
    font-size: 0.75rem;
    @media (min-width: 768px) {
        width: 140px;
        height: 200px;
        font-size: 1rem;
    }
    h5 {
        font-size: 0.75rem;
        @media (min-width: 768px) {
            font-size: 1rem;
        }
    }
    .cost {
        position: absolute;
        left: 0;
        top: 20px;
        bottom: 0;
        width: 15px;
        background-color: #666;
        text-align: center;
        @media (min-width: 768px) {
            width: 25px;
        }
    }
    .bounty {
        position: absolute;
        left: 40%;
        bottom: 50%;
    }
    .slots {
        position: absolute;
        bottom: 5px;
        left: 15px;
        @media (min-width: 768px) {
            left: 30px;
            bottom: 15px;
        }
        .slot {
            width: 13px;
            height: 18px;
            display: inline-block;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 3px;
            @media (min-width: 768px) {
                width: 30px;
                height: 43px;
            }
            &.biosphere {
                background-image: url('/assets/icons/BiosphereSlot.png');
            }
            &.deposits {
                background-image: url('/assets/icons/DepositsSlot.png');
            }
            &.utility {
                background-image: url('/assets/icons/UtilitySlot.png');
            }
        }
    }
    > .renown {
        position: absolute;
        top: 1rem;
        right: 0px;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 0 5px;
        @media (min-width: 768px) {
            top: 2rem;
        }
        &.negative {
            color: #bd350c;
        }
    }
    &.card-planet, 
    &.card.card-event,
    &.card.card-anomaly {
        width: 100px;
        height: 70px;
        @media (min-width: 768px) {
            width: 200px;
            height: 140px;
        }
    }
    &:hover {
        // border: 2px solid #0474ac6b;
        background-color: #436272;
        cursor: pointer;
    }
    &.tapped {
        transform: rotate(90deg);
    }
    .card-title {
        border-radius: 0.25rem .25rem 0 0;
    }
    .card-title.production {
        background-color: #bb8901;
        color: inherit;
    }
    .card-title.manpower {
        background-color: #145c05;
        color: inherit;
    }
    .card-title.utility {
        background-color: #959695;
        color: inherit;
    }
}

.hand-wrapper {
    max-height: 100vh;
    position: absolute;
    bottom: 0;
    border-radius: 5px 5px 0 0;
    width: 100vw;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    transition: max-height 200ms ease-out;

    &.hand-wrapper-closed {
        max-height: 50px;
        @media (min-width: 768px) {
            max-height: 100vh;
        }
    }

    > div > p {
        color: #fff;
    }
}
