<div>
  <p>{{ card.name }}</p>
  <div class="slots">
    <span class="badge" [ngClass]="{'badge-warning': slot == 'production', 'badge-success': slot == 'manpower', 'badge-light': slot == 'utility'}" style="font-size: 2em;" *ngFor="let slot of card.slots">
      <i class="fas fa-leaf" *ngIf="slot == 'manpower'"></i>
      <i class="fas fa-cog" *ngIf="slot == 'utility'"></i>
      <i class="fas fa-industry" *ngIf="slot == 'production'"></i>
    </span>
  </div>
  <span *ngIf="!claimed" style="color: tomato"><i class="fas fa-exclamation-triangle" *ngFor="let h of hazzards"></i></span>
  <div class="renown">
    <i class="fas fa-rupee-sign"></i>: {{ card.renown }}
  </div>
  <button *ngIf="!claimed">Colonize</button>
</div>
