<div class="card card-event">
    <h5 class="card-title text-truncate">{{ card.name }}</h5>
    <div class="cost" *ngIf="card.cost">
        <span class="manpower" *ngIf="card.cost.manpower"><i class="icon manpower"></i>{{ card.cost.manpower }}</span>
        <span class="production" *ngIf="card.cost.production"><i class="icon production"></i>{{ card.cost.production }}</span>
        <span class="science" *ngIf="card.cost.science"><i class="icon science"></i>{{ card.cost.science }}</span>
        <span class="credits" *ngIf="card.cost.card"><i class="icon credits"></i>{{ card.cost.card }}</span>
    </div>
    <div class="bounty" *ngIf="card.bounty">
        <span class="manpower" *ngIf="card.bounty.manpower">
            <i class="icon manpower"></i>{{ card.bounty.manpower }}</span>
        <span class="production" *ngIf="card.bounty.production">
            <i class="icon production"></i>{{ card.bounty.production }}</span>
        <span class="science" *ngIf="card.bounty.science">
            <i class="icon science"></i>{{ card.bounty.science }}</span>
    </div>
    <div class="effect" *ngIf="card.effect">
        <span class="turn" *ngIf="card.effect.turn">
            <span *ngIf="card.effect.turn.card">{{ card.effect.turn.card }} <i class="icon credits"></i></span>
        </span>
        <span class="relinquish" *ngIf="card.effect.relinquish">
            <span *ngIf="card.effect.relinquish.renown"><i class="icon relinquish"></i> +{{ card.effect.relinquish.renown }} <i class="fas fa-rupee-sign"></i></span>
        </span>
    </div>
    <div class="renown" *ngIf="card.renown" [ngClass]="{ 'negative': card.renown < 0}">
        <i class="fas fa-rupee-sign"></i>: {{ card.renown }}
    </div>
</div>