/* You can add global styles to this file, and also import other style files */

.manpower {
    color: #145c05;
}
.production {
    color: #bb8901;
}
.science {
    color: #0474ac;
}
.credits {
    color: #1f1d1d;
}
.renown {
    color: #c99e12;
}

.card {
    width: 70px;
    height: 100px;
    display: flex;
    margin-right: 2px;
    border: 0;
    background-color: #aaa;
    transition: transform 200ms ease-out;
}
.card,
.card h5 {
    font-size: 0.75rem;
}
.card .badge {
    font-size: 1rem;
}
.card.card-planet,
.card.card-event,
.card.card-anomaly {
    width: 100px;
    height: 70px;
}
.card .renown {
    position: absolute;
    top: 1rem;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0 5px;
}
.card:hover {
    border: 2px solid #0474ac6b;
}
.card.tapped {
    transform: rotate(90deg);
}
.card-title {
    border-radius: 0.25rem .25rem 0 0;
}
.card-title.production {
    background-color: #bb8901;
    color: inherit;
}
.card-title.manpower {
    background-color: #145c05;
    color: inherit;
}
.card-title.utility {
    background-color: #959695;
    color: inherit;
}
.hand-wrapper {
    max-height: 100vh;
    position: absolute;
    bottom: 0;
    border-radius: 5px 5px 0 0;
    width: 100vw;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    transition: max-height 200ms ease-out;
}
.hand-wrapper.hand-wrapper-closed {
    max-height: 50px;
}
.hand-wrapper > div > p {
    color: #fff;
}