<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            <div class="mr-auto">
                <button class="btn btn-secudary btn-sm mr-1" type="button" (click)="onManpowerClicked()" [disabled]="gameService.manpower < 3">
                    <i class="icon manpower"></i> {{ gameService.manpower }}
                </button>
                <button class="btn btn-secudary btn-sm mr-1" type="button" (click)="onProductionClicked()" [disabled]="gameService.production < 1 ">
                    <i class="icon production"></i> {{ gameService.production }}
                </button>
                <button class="btn btn-secudary btn-sm mr-1" type="button" (click)="onScienceClicked()" [disabled]="gameService.science < 1 ">
                    <i class="icon science"></i> {{ gameService.science }}
                </button>
                <span class="mr-1">
                    <i class="icon credits"></i> {{ gameService.credits }}
                </span>
                <span class="mr-1">
                    <i class="icon renown"></i> {{ gameService.renown }}
                </span>
            </div>
            <button class="btn btn-sm btn-primary" type="button" (click)="gameService.endTurn()">End Turn</button>
        </div>
    </nav>
    <div id="cardToCredits" (click)="onCardDiscardClicked()" *ngIf="cardSelectedContext">Card -> Credits</div>
</header>
<div class="container">
    <div class="messages position-absolute w-100" *ngIf="messageService.message">
        <ngb-alert [type]="messageService.message.type" (close)="messageService.remove()">{{ messageService.message.text }}</ngb-alert>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>Space</p>
            <div class="d-flex flex-row">
                <app-card *ngFor="let card of space" [card]="card" (click)="onSpaceCardClicked(card)"></app-card>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p>Ships</p>
            <div class="card-deck">
            <app-card *ngFor="let ship of ships" [card]="ship" (click)="onShipClicked(ship)"></app-card>
            </div>
            <div id="deploySpaceShip" (click)="onDeploySpaceShipClicked()" *ngIf="cardSelectedContext">Deploy Space Ship</div>
        </div>
        <div class="col-sm-9">
            <p>Planets</p>
            <div *ngFor="let planet of gameService.planets" class="clearfix mb-2">
                <app-card-planet [card]="planet" [claimed]="true" (click)="onPlanetClicked(planet, relinquish)" class="float-left mt-3"></app-card-planet>
                <app-card-colony [card]="colony" *ngFor="let colony of planet.colonies" (click)="onColonyClicked(colony)" class="float-left ml-4 mr-5"></app-card-colony>
            </div>
        </div>
    </div>
</div>
<div class="hand-wrapper" [ngClass]="{ 'hand-wrapper-closed': !isHandOpen }">
    <div class="col-sm">
        <p (click)="toggleHand()">Hand</p>
        <app-card *ngFor="let card of hand" [card]="card" (click)="onHandCardSelected(card)" class="float-left"></app-card>
    </div>
</div>

<ng-template #relinquish let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Relinquish Planet</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to relinquish this planet?</p>
        <p>Relinquishing a planet earns you the renown points on the planet and its colonies.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Yes</button>
        <button type="button" class="btn btn-outline-dark" (click)="c('no')">No</button>
    </div>
</ng-template>
